{% extends 'base1.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <link rel="stylesheet" href="{% static 'css/Sidebar-Menu-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Sidebar-Menu.css' %}">
   <link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css" >

<main>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li> <a href="{% url 'home' %}" >Home</a></li>
                <li> <a href="{% url 'profile' %}" style="color: white;">Profile</a></li>
                <li> <a href="{% url 'viewappointments' %}">View Appointments</a></li>
                <li> <a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        <div class="page-content-wrapper">
            <div class="row register-form">
                    <div class="col-md-8 offset-md-2">
                        {% for d in doctor_details %}

                        <form class="custom-form" style="margin-top: 0px;padding-left:100px;background-color: rgba(0,0,0,0.05);">
                            <h1 align="center">Your Profile</h1>
                            <hr size="5px">
                            <div></div>
                            <div class="form-row form-group">
                                <label class="col-form-label" for="name">Name </label>
                               <input class="form-control" type="text" id="name" readonly="" value="{{d.name }}" style="width:500px">
                            </div>
                            <div class="form-row form-group">
                                <label class="col-form-label" for="email">Email </label>
                                <input class="form-control" type="text" id="email" readonly="" value="{{ d.email }}" style="width:500px">
                            </div>
                            <div class="form-row form-group">
                                <label class="col-form-label" for="gender">Gender</label>
                                <input class="form-control" type="text" id="gender" readonly="" value="{{ d.gender}}" style="width:500px">
                            </div>
                            <div class="form-row form-group">
                                <label class="col-form-label" for="pn">Phone Number</label>
                                <input class="form-control" type="text" id="pn" readonly="" value="{{ d.phonenumber}}" style="width:500px">
                            </div>
                            <div class="form-row form-group">
                                <label class="col-form-label" for="address">Address</label>
                                <textarea class="form-control" id="address" readonly="" style="width:500px;height:70px;padding: 10px;">{{ d.address}}</textarea>
                            </div>
                            <div class="form-row form-group">
                                <label class="col-form-label" for="Bday">Birth Date</label>
                                <input class="form-control" type="text" id="Bday" readonly="" value="{{ d.birthdate }}" style="width:500px">
                            </div>
                            <div class="form-row form-group">
                                <label class="col-form-label" for="BG">Blood Group</label>
                                <input class="form-control" type="text" id="BG" readonly="" value="{{ d.bloodgroup }}" style="width:500px">
                            </div>
                            <div class="form-row form-group">
                                <label class="col-form-label" for="specialization">Specialization </label>
                                <input class="form-control" type="text" id="specialization" readonly="" value="{{ d.specialization }}" style="width:500px">
                            </div>

                        </form>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

 <script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</main>
{% endblock %}