{% extends 'base1.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" >

<!--_____________________________________________________________________________________________________________-->

<main>
    <img src="{% static 'img/signin.svg' %}" alt="Sign In">
    <div>
      <form method="POST">
             {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div>
        </form>
      <p>Don't have an account? <a href="{% url 'createaccountpage' %}">Sign Up</a></p>
        <div>
        <h3>Demo</h3>
        <p>(Admin) Username:- admin@gmail.com / Password:- vikash@2655</p>
        <p>(Patient) Username:- patient@gmail.com / Password:- 12345</p>
        <p>(Doctor) Username:- piya@gmail.com / Password:- 12345</p>

    </div>
    </div>

  </main>

<!--________________________________________________________________________________________________________________-->
{% endblock %}
